<section class="my-badges">

  <div class="sparkle-effect"></div>


  {{#if this.isLoading}}
    <div class="loading-indicator">Loading...</div>
  {{else}}

  <div class="medal-container">
    
    <div class="medal">
      <h1><div class="gold">{{d-icon "certificate"}} 1</div></h1>
    </div>
    <div class="medal">
       <h1><div class="silver">{{d-icon "certificate"}} 2</div></h1>
    </div>
    <div class="medal">
       <h1><div class="bronze">{{d-icon "certificate"}} 3</div></h1>
    </div>
  </div>


    {{#each this.badgeGroups as |group|}}
      <h3>{{group.name}}</h3>
      <div class="badge-group-container">
        {{#each group.badges as |badge|}}
          <div class="badge-container">
            {{badge.name}}
            

            {{#if badge.image_url}}

              <div class="badge-image-container">
                <div class="sparkle-effect"></div>

                <img class="badge-image" src="{{badge.image_url}}">

              </div>

            {{else}}

              <div class="badge-image-container">
                <div class="sparkle-effect"></div>

                <div class="badge-icon">{{icon-or-image badge}}</div>
              </div>

            {{/if}}

            <div class="progress-bar-container">
              <div class="progress-bar" style="w:{{badge.progress}};"></div>
            </div>

            <button {{action collectBadge badge.id }} class="btn btn-text btn-primary badge-collect-button">{{ i18n "badge_extension.mybadge.collect" }}</button>

            <div class="badge-requirement-info">
              {{number badge.requirement}} /{{number badge.progress}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  
  
  {{/if}}
</section>
