{{#if this.siteSettings.badge_progress_enabled}}

<section class="my-badges">

  {{#if this.isLoading}}
    <div class="loading-indicator">Loading...</div>
  {{else}}

  <div class="medal-container">
    
    <div class="medal">
      <h1><div class="gold">{{d-icon "certificate"}} {{goldCount}}</div></h1>
    </div>
    <div class="medal">
       <h1><div class="silver">{{d-icon "certificate"}} {{silverCount}}</div></h1>
    </div>
    <div class="medal">
       <h1><div class="bronze">{{d-icon "certificate"}} {{bronzeCount}}</div></h1>
    </div>
  </div>


    {{#each this.badgeGroups as |group|}}
      <h3>{{group.name}}</h3>
      <div class="badge-group-container">
        {{#each group.badges as |badge|}}
          <div class="badge-container">
            {{badge.name}}
            

            <div class="badge-image-container">

              {{#if this.siteSettings.badge_sparkle_effect}}
              {{#if (gt badge.user_badge 0)}}
                <div class="sparkle-effect"></div>
              {{/if}}
              {{/if}}



              {{#if badge.image_url}}
                <img class="badge-image {{if (eq badge.user_badge 0) "badge-not-acquired"}}" src="{{badge.image_url}}">
              {{else}}
                <div class="badge-icon {{if (eq badge.user_badge 0) "badge-not-acquired"}}">{{icon-or-image badge}}</div>
              {{/if}}

            </div>


            <div class="progress-bar-container">
              <div class="progress-bar" style="w:{{badge.progress}};"></div>
            </div>

            <button {{action collectBadge badge.id }} class="btn btn-text btn-primary badge-collect-button">{{ i18n "badge_extension.mybadge.collect" }}</button>

            <div class="badge-requirement-info">
              {{number badge.progress}} / {{number badge.requirement}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  
  
  {{/if}}
</section>
{{/if}}
